<div id="container"></div>

<div id="title">
  <span><%= @globe.name.capitalize %></span>
  <a href="#" id="refresh"><i class="fa fa-refresh fa-2x fa-spin-hover"></i></a>
</div>
<div id="description">
  <%= @globe.description %>
</div>


<div id="side-bar">
  <div id="points-list">
    <a href="#" id="toggle"></a>
    <ul><%= render @globe.points %></ul>
  </div>

  <div id="add-point">
    <%= render 'points/form' %>
  </div>

  <div id="import">
    <%= render 'import' %>
  </div>
</div>

<div id="info">
  <strong>
    <a href="http://www.chromeexperiments.com/globe">WebGL Globe</a>
    <span class="bull">&bull;</span>
    <a href="http://www.github.com">Github</a>
  </strong> 
</div>

<%= render 'globe' %>
